body {
  background-color: #010604;
  color:            #FFFFFF;
  font-family:      sans-serif;
}

.highlight {
  background-color: #0DDFAD;
  color:            #D0F00D;
}

table, td {
  text-align: center;
  border:     none;
}

table.bordered, td.bordered {
  border-collapse: collapse;
  border:          1px solid white;
}
